// 設定變數名稱$號開頭
$tableColor:#2d5447;
// 設定好後去用變數名稱，替換相同規格的設定

// 擴充／繼承，同一個項目需有相同設定，但分佈在不同位置／欄位，設定一個class，在所需處加上
// .cap{
//     font-size: 24px;
//     letter-spacing: 5px;
// }

// 使用％符號可以讓這一段程式碼執行，但是不會轉成css，讓其他的頁面、其他段落或是協作者如果有寫道相同的class時不會產生樣式重疊的可能
%cap{
    font-size: 24px;
    letter-spacing: 5px;
}

.eBase{
    width: 85%;
    margin: 30px auto;
}

// 多組設定先寫上＠mixin，在用@include載入
@mixin tdw{
    &:nth-of-type(1){
        width: 120px;
        text-align: center;
    }

    &:nth-of-type(3){
        width: 100px;
        text-align: center;
    }

    &:nth-of-type(4){
        width: 50px;
        text-align: right;
    }
}

// 使用多組設定可以帶入參數，讓整組樣式變化統一控制
// 如果在設定參數的地方沒寫數值，會以設定好的預設值套用樣式
// 在設定的時候需要在該參數位置填入預設值“：0.5“
@mixin zTable($fontColor, $bgColor, $alpha:0.5){
    tr{
        &:nth-of-type(odd){
            td{
                background-color: rgba($bgColor, $alpha*0.5);
            }
        }
        &:nth-of-type(even){
            td{
                background-color: rgba($bgColor, $alpha);
            }
        }
        &:hover{
            td{
                color: $fontColor;
                // @if 條件{

                // }@else if 條件{

                // }

                @if $alpha*2>0.8{
                    $alpha:0.8;
                }else{
                    $alpha:$alpha*2;
                }
                background-color: rgba($bgColor, $alpha);
            }
        }
    }
}

// 例如：不同的caption需要同一個設定
//將項目找出寫上＠extend加上事先設定好的class 
// caption{
//     @extend .cap;
// }

.ts1{
    @extend .eBase;
    border: 5px solid $tableColor;


    caption{
        @extend %cap;
    }

    // tr{
    //     &:nth-of-type(odd){
    //         background-color: rgba($tableColor,0.3);
    //     }
    // }

    // tr{
    //     &:nth-of-type(even){
    //         background-color: rgba($tableColor,0.6);
    //     }
    // }

    @include zTable(rgb(255, 255, 255), $tableColor, 0.7);
    // @include zTable(rgb(255, 255, 255), $tableColor);
    // 如果在設定參數的地方沒寫數值，會以設定好的預設值套用樣式
    // 在設定的時候需要在該參數位置填入預設值“：0.5“


    th{
        border: 1px solid $tableColor;
        background-color: $tableColor;
        color: rgb(255, 255, 255);
        padding: 5px 0px;
    }

    td{
        border: 1px solid $tableColor;
        padding: 5px;
        
        // // &選取器：選取父層
        // &:nth-of-type(1){
        //     width: 120px;
        //     text-align: center;
        // }

        // &:nth-of-type(3){
        //     width: 100px;
        //     text-align: center;
        // }

        // &:nth-of-type(4){
        //     width: 50px;
        //     text-align: right;
        // }

        // 多組設定先寫上＠mixin，在用@include載入
        @include tdw;
    }
}


.ts2{
    @extend .eBase;
    border-collapse: separate;
    border-spacing: 3px;

    caption{
        @extend %cap;
    }

    caption{
        font-size: 24px;
        // 字寬
        letter-spacing: 5px;
    }

    tr{
        &:nth-of-type(-n+4){
            td{
                background-color: rgba($tableColor,0.3);
            }
        }

        &:nth-of-type(n+5){
            td{
                background-color: rgba($tableColor,0.5);
            }
        }

        &:hover{
            td{
                background-color: rgba($tableColor,0.8);
                color: beige;
            }
        }
    }

    td{
        padding: 8px;
        // 多組設定先寫上＠mixin，在用@include載入
        @include tdw;
    }
}