body{
    background-color: #fff;
    color: red;
}

// 在scss裡可以將同一父層的指令寫在一個{}內，存檔後scss會自己轉存為css格式，生成另一個整理好的css檔案
#contact{
    color: red;
 p{
    color: blue;
    a{
        text-decoration: none;

    }
}
}
// 修改原始存檔位置，齒輪圖示>設定>延伸模組>live scss compiler>”live scss complier>setting:formats“>在setting.json內編輯>修改"savePath": null,將null改成想儲存的位置“/css“即可。

// "format": "compressed",
// expanded 原檔
// compressed 壓縮檔

// "extensionName": ".min.css",
// .css 原副檔名
// .min.css 壓縮副檔名

// 關掉map檔
// "liveSassCompile.settings.generateMap": false