/* .logo{ */
/* background-image: url(/images/Anne.png); */
/* width: 250px; */
/* height: 80px; */
/* background-position: center; */
/* background-size: cover; */

/* } */

header{
    position: fixed;
    top: 40px;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.827);
    color: aliceblue;
    width: 180px;
}

header h1{
    border: 1px solid red;
    display: block;
    text-align: center;
}

header nav ul{
    list-style-type: none;

}

header nav ul {
border: 1px solid red;
margin: 0px;
padding: 10px;
}

header nav ul a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    display: block;
    border-bottom: 1px dashed white;
}

[id^="content"]{
    /* 包含查詢 ^開頭查詢，前端相符 $結尾查詢，末端相符 */
    min-height: 300px;   /* 最小高度 */
    background-position: center;   /* 圖片置中 */
    background-size: cover;   /* 圖片符合視窗 */
    padding: 40px 240px;
    
}



#content1{
    background-image: url(/images/afternoon-tea-617142_1920.jpg);
    background-attachment: fixed; /* 背景圖片固定，在捲動時只有上方物件移動 */
}
#content2{
    background-image: url(/images/black-coffee-2847957_1920.jpg);
}
#content3{
    background-image: url(/images/eating-1544792_1920.jpg);
    background-attachment: fixed; /* 背景圖片固定，在捲動時只有上方物件移動 */
}
#content4{
    background-image: url(/images/high-tea-2000983_1920.jpg);
}
#content5{
    background-image: url(/images/tea-1170555_1920.jpg);
    background-attachment: fixed; /* 背景圖片固定，在捲動時只有上方物件移動 */
}
#content6{
    background-image: url(/images/tee-508114_1920.jpg);
}

/* 卡片式 */

#list{
    display: flex;
    flex-wrap: wrap;
}

.item{
    /* box-sizing: border-box; 將padding跟border的邊框寬度含在內，就不需要額外扣掉兩側距離 */
    flex: 0 0 calc(33.3% - 40px);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    margin: 10px;
    padding: 10px;
}

.item img{
    width: 100%

}

/* .box{ */
    /* width: 500px; */
    /* margin: 10px; */
    /* padding: 10px; */
    /* border: 1px solid red; */

    /* 總寬度560px */
/* } */
/* .box{ */
    /* box-sizing: border-box; */
    /* width: 500px; */
    /* margin: 10px; */
    /* padding: 10px; */
    /* border: 1px solid red; */

    /* 總寬度520 */
    /* 將padding跟border算在boxsizing裡 */
/* } */