main{
    display: flex;
}

#productMenu{
    width: 162px;
    margin: 0 10px;
}

#productMenu>ul>li>a{
    background-image: url(/newcode/nc0630/images/productMenuBg.png);
    display: block;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 36px;
    letter-spacing: 0.2em;

}

#productMenu ul ul{
    padding: 10px 0 30px 0;
}

/* 間距li */
#productMenu ul ul li{
    border-bottom: 1px dashed white;
    margin-bottom: 12px;
}

/* 按鈕樣式a */
#productMenu ul ul li a{
    border-bottom:1px dashed rgba(255, 255, 255, 0.5);
    display: block;
    text-align: center;
    color: rgb(24, 66, 24);
    margin: 0 12px;
    padding-bottom: 5px;
}

/* #productMenu ul ul li a.nowPage::befor{
    content: "";
    border: 70px solid transparent;
    border-left-color: white;
    width: 0;
    height: 0;
    display: inline-block;
} */

#productList{
    /* background-color: aqua; */
    flex:0 0 calc(100% - 182px);
    display: flex;
    flex-wrap: wrap;
}

.productItem{
    flex:1 1 calc(25% - 30px);
    /* 擴張佔比 壓縮佔比 基準寬 */
    margin: 0 10px 10px 0;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.315); */
    transition: 0.5s;
}

.productItem:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.productItem img{
    width: 100%;
}

.productItem p::before{
    color: white;
    border-radius: 30px;
    padding: 0 12px;
    font-size: 10px;
    margin-right: 10px;
}

.productItem p:nth-of-type(1)::before{
    background-color: rgb(68, 90, 68);
    content: "說明";
}

.productItem p:nth-of-type(2)::before{
    background-color: rgb(68, 90, 68);
    content: "成份";
}

@media(max-width:600px){
    #productMenu{
        display: none;
    }
    #productlist{
        flex: 1;
    }
    .productItem{
        flex: 0 0 calc(100% - 30px);
    }
}

@media(max-width:960px) and (min-width:601px){
    .productItem{
        flex: 0 0 calc(33% - 30px);
    }
}