body{
    margin: 0;
    padding: 0;
}
#menu{
    background-color: rgba(0, 0, 0, 0.503);
    position: relative;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 50px 25%;
    display: flex;
    
}

#menu ul li{
flex: 1;
position: relative;
}

#menu ul a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;

}

#menuBtn{
    /* border: 1px solid red; */
    position: absolute;
    right: 10px;
    bottom: -35px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.511);
    display: block;
    width: 100px;
    height: 35px;
    text-align: center;
    color: white;
    border-radius: 0 0 6px 6px;    
}
